<div>
    <div class="container">
        <div class="row">
            <div class="col tin"><h1 class="display-1">Contact Us</h1><br>
                <h1>NeST Digital Corporate Office</h1>
                <p>Plot No. 2, Cochin Special Economic Zone(CSEZ), Kakkanad, Cochin – 682 037, India<br>

                    Phone: +91-484-661 4300</p>
            </div>
            <div class="col">
                <img src="cntimg.png" alt="picture not available">
            </div>
        </div>
    </div>
</div>
