<div>
    <div class="container">
        <div class="row">
            <div class="col tin"><h1 class="display-1">About Us</h1>
                <p>Our principles serve as the foundation of our organization and have moulded us into who we are today. We are powered by continuous innovation, strategic thinking and collaboration to deliver shared outcomes for better results and growth.</p>
            </div>
            <div class="col">
                <img src="https://img.freepik.com/free-vector/about-us-concept-illustration_114360-639.jpg?uid=R150814922&ga=GA1.1.194098094.1728922264&semt=ais_hybrid" alt="picture not available">
            </div>
        </div>
    </div>
</div>
