<div>
    <div class="container">
        <div class="row">
            <div class="col tin"><h1 class="display-1">NeST Digital</h1>
                <p>Be the global leader in providing end-to-end solutions in engineering and manufacturing for both hardware and software products in the high value added markets, satisfy our customers with innovative technology and superior quality, value and service.</p>
            </div>
            <div class="col">
                <img src="https://img.freepik.com/premium-photo/photo-realistic-as-industrial-skyline-dusk-concept-as-dynamic-industrial-skyline-dusk-symbol_980716-450235.jpg?uid=R150814922&ga=GA1.1.194098094.1728922264&semt=ais_hybrid" alt="picture not available">
            </div>
        </div>
    </div>
</div>
